<article-preview
  *ngFor="let article of results"
  [article]="article">
</article-preview>

<div class="article-preview"
  [hidden]="!loading">
  Loading articles...
</div>

<div class="article-preview"
  [hidden]="loading || results.length">
  No articles are here... yet.
</div>



<div class="button-row">
  <nav  [hidden]="loading || totalPages <= 1" >  
     <a mat-mini-fab color="primary-color" class="green-text" [ngClass]="{'active': pageNumber === currentPage}"
      *ngFor="let pageNumber of totalPages"
      (click)="setPageTo(pageNumber)" href="#">{{ pageNumber }}</a>  
  </nav>
</div>

