<div class="page-profile">

  <div class="userinfo">
  
    <div class="image">
      <img [src]="profile.image" />
    </div>
    <div class="memo">
       <h4>{{ profile.username }}</h4>
            <p>{{ profile.bio }}</p>
            <follow-button
              [hidden]="isUser"
              [profile]="profile"
              (onToggle)="onToggleFollowing($event)">
            </follow-button>
    </div>

    <a [routerLink]="['/settings']"
                [hidden]="!isUser"
                mat-raised-button >
                <i class="material-icons">settings</i> Edit Profile Settings
    </a>  
  </div>

  <div class="navigation">
    <nav mat-tab-nav-bar >

      
      <a mat-tab-link routerLinkActive="active"
                 
                 [routerLinkActiveOptions]="{ exact: true }"
                 [routerLink]="['/profile', profile.username]">
                 My Posts   
      </a>

      <a mat-tab-link routerLinkActive="active"
                 [routerLinkActiveOptions]="{ exact: true }"
                 [routerLink]="['/profile', profile.username, 'favorites']">
                   Favorited Posts 
      </a>


    </nav>

  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  
   
  
  
</div>




