.wrap{
	margin-top: 50px;
	display: flex;
	justify-content: center;
	
}

fieldset{
	border: none;
}
.full{
	width: 100%;
	margin-bottom: 10px;
}

.setting-card {
  width: 500px;
  margin-bottom: 20px;
}

.setting-card>h1{
	color: #5cb85c;
	font-size: 38px;
}

.mat-card:not([class*=mat-elevation-z]){
	box-shadow:  0 2px 2px 0 rgb(92, 184, 92), 0 1px 5px 0 rgb(92, 184, 92), 0 3px 1px -2px rgb(92, 184, 92);
}

.mat-raised-button{
	/*border: 2px solid #5cb85c;*/
	color: #fff;
	float: right;
	margin-bottom: 10px;
	background-color:#5cb85c; 
}

.mat-raised-button.logout{
	color:  #fff;
	/*border: 2px solid #b85c5c;*/
	float: left;
	background-color:  #b85c5c;
}


